{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
<div class="w-100 mt-5">
    <h1>Annonce index</h1>


    <div class="container">
        <div class="row">
        {% for annonce in annonces %}
   
 
        <div class="card col-3 m-1" style="width:300px;">
                
                <h1 class="text-center">{{ annonce.titre }}</h1>
                <p>Category : {{ annonce.category }}</p>
                <p>Type : {{ annonce.type }}</p>
                <p>Description : {{ annonce.description }}</p>
                <p>Surface : {{ annonce.surface }} m²</p>
                <p>Chambres: {{ annonce.numberRooms }}</p>
                <p>Salle de bains:{{ annonce.numberBathrooms }}</p>
                <p>Etages:{{ annonce.numberStages }}</p>
                <p>N°Etage:{{ annonce.numeroStage }}</p>
                <p>Parkings:{{ annonce.numberParkings }}</p>
                <p>Date-Construire:{{ annonce.dateConstruire ? annonce.dateConstruire|date('Y-m-d') : '' }}</p>
                <p>Prix:{{ annonce.price }}</p>
                <p>{{ annonce.media }}</p>
               
               <div>
                <a class="btn btn-primary m-4" href="{{ path('app_annonce_show', {'id': annonce.id}) }}" role="button">show</a>
            <a class="btn btn-primary m-4" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" role="button">edit</a></div>
                  
             </div> 
            
            
    
        {% endfor %}
</div>


</div>
    
</div>
{% endblock %}
